<h1>Edit Goal!</h1>

<form action="<%= goal_url(@goal) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Goal
    <input type="text" name="goal[body]" value="">
  </label>
  <label>Private
    <input type="radio" name="goal[privacy]" value="true">
  </label>
  <label>Public
    <input type="radio" name="goal[privacy]" value="false">
  </label>
  <br>
  <input type="submit" value="Edit Goal!">

</form>
